/*font-family: "Roboto", sans-serif;*/
/*font-family: "Raleway", sans-serif;*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,ol 
{
    list-style-type: none;
}

a {
    text-decoration: none;
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo .logo-part {
   color: #2E2F42;

}
.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
   color:  #404bbf;
}
.contacts {
    font-style: normal
}
.Contacts-link {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.Contacts-link:hover,
.Contacts-link:focus,
.main-buton:hover,
.main-buton:focus {
    color :#404bbf;
}
.hero-section {
    background-color: #2e2f42;
}
.header {
    font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.main-buton {
    background-color: #4D5AE5;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        padding: 16px 32px;
            border-radius: 4px;
            border: none; 
}
button 
.footer-page {
    background-color: #2E2F42;
}
